@use "variables" as *;
@use "mixins" as *;
@use "sass:color";

.btn-echoes {
  background: $primary;
  color: white;
  @include rounded;
  @include button-base;

  &:hover {
    background: color.adjust($primary, $lightness: 10%);
  }
}

.menu-toggle {
  color: $primary;
}
