@use "variables" as *;
@use "mixins" as *;

/* Base */
.card-custom {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  @include card-shadow;
  @include rounded;
}

/* Login */
.login-card {
  @extend .card-custom;
}

/* Register */
.register-card {
  @extend .card-custom;
}

/* Card for create post */
.card-create-post {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  @include card-shadow;
  @include rounded;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  textarea.form-control {
    min-height: 150px;
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
