// Brand colors
$primary: #ff3131;
$secondary: #fff0e6;

// Background & text
$background: #fffbf7;
$text: #222;

// Typography
$font-family-base: "Manrope", sans-serif;

// Borders
$border-radius: 12px;

// Profile
$profile-avatar-size: 120px;
$profile-post-height: 300px;
